.input {
  display: flex;
  width: 95%;
  border-radius: 50px;
  position: relative;
  align-items: center;
}

.input_box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input_box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 50px;
  height: 39px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: rgb(236, 228, 246);
  cursor: pointer;

  color: rgb(119, 107, 107);
  transition: 0.3s all;
  box-shadow: 0 0 10px black;
}
.input_submit:hover {
  background-color: rgb(192, 171, 216);
}
.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container {
  display: flex;
  width: 95%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  display: flex;
  width: 47.5%;
  padding: 15px;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(61, 178, 191);
  margin: 5px;
}


.todo_heading {
  font-size: 30px;
  color: hsla(0, 0%, 100%, 0.905);
}

.todos_single {
  display: flex;
  width: auto;
  border-radius: 5px;
  padding: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWHzvpLEdEdAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
  margin-top: 15px;
  transition: 0.2s;
}

.todos_single:hover {
  box-shadow: 0 0 5px whitesmoke;
  transform: scale(1.03);
}

.todos_single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos_single--text:focus {
  outline: none;
}

.icon {
  cursor: pointer;
  font-size: 25px;
  margin-left: 10px;
}

@keyframes icone {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.2);
  }
}
.this_icon:hover {
  opacity: 0.3;
  animation: icone 0.3s slidein;
  fill: rgba(255, 0, 0, 0.809);

  opacity: 1;
  transition: opacity 500ms;
}

.this_icon:active {
  opacity: 0.3;
  animation: icone 0.3s ease-in;
  fill: rgb(255, 0, 0);

  opacity: 1;
  transition: opacity 500ms;
}
@media (max-width:1100px) {

.input {
    width: 95%;
}
}
@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }


  .container{
    width: 95%;
    flex-direction: column;
    margin-right: 15px;
  }
}

.remove{
    background-color: rgb(225, 118, 99);
}


.dragActive{
    background-color: rgb(37, 159, 172);
}

.dragComplete{
    background-color: rgb(190, 82, 63);
}